name: Release

on:
  push:
    branches:
      - main

permissions:
  pull-requests: write
  contents: write
  id-token: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.7.0
          run_install: false

      - name: Setup Node.js 20.16.0
        uses: actions/setup-node@v4
        with:
          node-version: 20.16.0
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"

      - name: Update npm for OIDC support
        run: npm install -g npm@latest

      - name: Install NPM dependencies
        run: pnpm install

      - name: Build Package
        run: pnpm build:react-wheel-picker

      - name: Create release PR or publish to NPM
        id: changesets
        uses: changesets/action@v1
        with:
          title: "chore(release): version packages"
          commit: "chore(release): version packages"
          version: node .github/changeset-version.mjs
          publish: npx changeset publish
          # commitMode: github-api
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          # Use OIDC for npm authentication instead of NPM_TOKEN
          # NPM_TOKEN: "" # https://github.com/changesets/changesets/issues/1152#issuecomment-3190884868
          NODE_ENV: "production"
